* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #b81365;
}

.menu-icon {
    filter: invert(1);
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #140d4f;
}

#nav-links-container {
    display: none;
    margin-top: 100px;
}

.nav-img {
    height: 80px;
    width: 80px;
    padding-left: 10px;
}

.menu-icon {
    padding-right: 10px;
}

/* .close-icon {
    display: none;
}

.close-icon.active {
    display: inline-block;
} */

#nav-links-container.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #140d4f;
    
}

.nav-links.active a {
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
}

#homepage-text h1 {
    font-size: 50px;
    padding: 20px;
    padding-top: 30px;
}

#homepage-text p {
    font-size: 30px;
    padding: 20px;
}

/* h1 {
    font-size: 40px;
    padding: 20px;
}

p {
    font-size: 20px;
    padding: 20px; 
} */

/* Projects Page */

#project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #140d4f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: 15px;
    text-align: center;

}

#mars-photo {
    width: 100%;
    height: 50%;
}

.github-logo {
    height: 20px;
    width: 20px;
    filter: invert(1);
   
}

.globe-icon {
    height: 20px;
    width: 20px;
    filter: invert(1);
   
}

.project-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.card h1 {
    font-size: 20px;
    padding: 10px;
}

